<.header>Dead view</.header>
<div class="grid grid-cols-2 gap-4 text-center">
  <div>
    <h2 class="text-lg leading-loose font-bold">With SSR</h2>
    <.vue v-component="Simple" v-ssr={true} />
  </div>

  <div>
    <h2 class="text-lg leading-loose font-bold">Without SSR</h2>
    <.vue v-component="Simple" v-ssr={false} />
  </div>
</div>

<p class="bg-white/10 rounded-lg p-4 mt-8 text-center">SSR is not necessary on live navigation within the same live session!</p>

