<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "LiveVueExamples" %>
    </.live_title>
    <LiveVue.Reload.vite_assets assets={["/js/app.js", "/css/app.css"]}>
      <link phx-track-static rel="stylesheet" href="/assets/app.css" />
      <script type="module" phx-track-static type="text/javascript" src="/assets/app.js">
      </script>
    </LiveVue.Reload.vite_assets>
  </head>
  <body class="bg-white antialiased dark:bg-[#1b1b1f] dark:text-[rgba(255,255,245,.86)]">
    <header class="px-4 sm:px-8 lg:px-12 h-[70px]">
      <div class="flex items-center justify-between py-3">
        <div class="flex items-center gap-4 font-bold">
          <.link navigate={~p"/"}>
            LiveVue
          </.link>
        </div>
        <div class="flex items-center gap-4">
          <a href="https://github.com/Valian/live_vue" target="_blank" class="hover:text-gray-400">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6">
              <title>GitHub</title>
              <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </header>
    <main class="px-4 py-2 sm:py-10 sm:px-6 lg:px-8">
      <%= @inner_content %>
    </main>

    <footer class="text-center text-sm text-gray-500 mb-12">
      Made with ❤️ by <a href="https://x.com/jskalc" class="text-orange-500 hover:text-orange-600">@jskalc</a>
    </footer>

  </body>
</html>
